.detection-result {
	position: absolute;
	top: 0;
	left: 0;
}
.detection-result .box {
	border: 2px solid #ff1b1b;
	position: absolute;
	z-index: 1;
}
.detection-result .box span {
	background-color: #ff1b1b;
	color: black;
	font-size: 11px;
	position: absolute;
	top: -2px;
	left: 100%;
}

.timeline .scenes .scene .detection-result .box span {
	display: none;
}
